body  {
  background-image:url('/images/fondo.png');
 background-attachment: fixed;
 background-blend-mode: all;
}

.filtro_Bar {  
         
              background:#EBEDEF;

              
}       

.barra-Menu {
		background-image: url('/images/fondobarra.png');
}

.pie-Pagina { 
				background-image: url('/images/fondobarra.png'); 
			}

.marco_producto { 
	background: white;
	background-image: url("/images/MarcaAguaCar.png");
    background-repeat: no-repeat;
    background-size: 100% 150px;

}

.marco_producto:hover {

    background-image: url("/images/MarcaAguaCarAzul.png");
    background-repeat: no-repeat;
    background-size: 100% 150px;
}

.boton_agregar:hover{
	background: rgb(181,189,200); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 );
}

